main {
    max-width: 840
}

:root {
    --main-color: #3498db;
    /* Example color */
    --secondary-color: #000;
    /* Example color */
    --text-color: #333;
    --background-color: #f4f4f4;
}

header {

    text-align: left;
    padding: 20px;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--background-color);
    padding: 10px;
    display: block;
    font-size: 25px;

}

h1 {
    color: var(--main-color);
    /* Change as necessary */
    font-size: 2rem;
    /* Adjust font size */
}

main img {

    width: 150px;
    height: auto;
    border: 1px solid --main-color;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: var(--background-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}